*,*::before,*::after {
  box-sizing: border-box;
}
/* dont remember how to write border box find it in java script projects and confirm later */


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
    margin: 0px;
}
.content{
    margin-left: 20px;
    margin-right: 20px;
}
.jsLogo{
    margin-left: auto;
    margin-right: auto;
    background-color: #f0db4f;
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    margin-top: 5vh;
    padding:20px;

}
.jsLogo p{
    color: #323330;
    font-size: 4500%;
    margin-right: 5vw;
    margin-bottom: -50px;
    font-weight: 600;
}
@media only screen and (max-width: 960px) {
    .jsLogo p {
      font-size: 72vw;
    }
  }